[mysqld]
# ── Replication identity ─────────────────────────────────────────────────────
server-id          = 1

# ── Binary log (required for replication) ───────────────────────────────────
log_bin            = mysql-bin
binlog_format      = ROW
binlog_do_db       = productsdb
expire_logs_days   = 3

# ── Performance ──────────────────────────────────────────────────────────────
innodb_flush_log_at_trx_commit = 1
sync_binlog                    = 1
